# framework 
fastapi==0.88.0
uvicorn
pydantic
pydantic[email]
python-multipart
# jwt
python-jose[cryptography]
passlib[bcrypt]
# database
SQLAlchemy==1.4.45
alembic
aiosqlite==0.17.0
psycopg2-binary
# develop
typer[all]
flake8
flake8-bugbear